/* FONTS */
@font-face {
  font-family: 'VerlagLight';
  src: url('../fonts/Verlag-Light.otf');
}
@font-face {
  font-family: 'VerlagBlack';
  src: url('../fonts/Verlag-Black.otf');
}
@font-face {
  font-family: 'VerlagBook';
  src: url('../fonts/Verlag-Book.otf');
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
  height: 100%
  width: 100%;
  font-family: 'VerlagLight';
  font-size: 20px;
  color: #575a60; /* greytone text */

}

body {
  min-height: 100%;
  margin: 0;
  width: 100%;
  padding-bottom: 168px;
}

input {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #575a60; /* greytone text */
}

.headerImage {
  width: 100%;
  height: 100%;
  margin-bottom: -4px;
}

/*TITLE STYLE */
.pageTitle {
  font-size: 32px;
  letter-spacing: 4px;
  color: #2b7fb3;
  text-align: center;
  font-weight: bold;
}

/*TEXT ELEMENTS */
.introText {
  width: 32%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
}

/* SLIDERS CONTAINERS BASE STYLE */
.sliderBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 160px;
  width: 64%;
  margin: 0 auto;
  margin-bottom: 8px;
  border: 1px solid #c0c0c0;
  background-color: rgba(196, 191, 182, 0.1);
}

.sliderLabel {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font: 'VerlagBook';
  font-size: 16px !important;
  cursor: pointer;
  letter-spacing: 2px;
}

.sliderLabel:hover {
  color: #0F7BC8;
}

/* SLIDER OUTPUT */
input[inputmode="decimal"] {
  width: 10%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8px;
}
/* EURO OF PROCENT TEKEN IN INPUT */
.teken {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  bottom: 8px;
}
.procentTeken {
  right: 0px;
  margin-right: -16px;
}
.euroTeken {
  left: 0px;
  margin-left: -16px;
}

.innerSliderBox {
  width: 95%;
  margin: 0 auto;
  user-select: none;
}

/* JQUERY SLIDER BASE*/
.sliders.ui-slider {
  height: 16px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
}
/* JQUERY SLIDER POINTER*/
.sliders.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #0F7BC8;
  border-radius: 16px;
  border: 1.5px solid #fff;
  position: absolute;
  font-size: 16px;
  top: -3px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}
.ui-widget-content .ui-state-default:hover,
.ui-widget-content .ui-state-default:focus {
  transform: scale(1.05);
}
/* JQUERY SLIDER ACTIVE COLOR */
.sliders .ui-widget-header {
  background: #0F7BC8;
  height: 16px;
  border-radius: 4px;
}

.labelsSlider{
  width: 95%;
  margin: 0 auto;
}

/*LABELS UNDER SLIDER */
.minLabel {
  float: left;
  margin-top: 4px;
  text-align: left;
}
.maxLabel {
  float: right;
  margin-top: 4px;
}

/* PLUS AND MINUS BUTTONS UNDER SLIDER */
.buttons {
  transform: scale(1.8);
   cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

/* PLUS MINUS BUTTONS STYLE */
.plusMin {
  display: inline-block;
  vertical-align: center;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  fill: #0F7BC8;
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  viewBox: 0px 0px 24px 24px;
  margin: 0px 8px;
  margin-top: -16px;
}
.plusMin:hover {
    background-color: #0F7BC8;
    fill: #fff;
}

/*OUTPUT BOX ALL STYLES */
.sliderOutput {
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 1);
  display: block;
  z-index: 2;
  transition: all .2s ease-in;
  padding: 4px;
  box-sizing: border-box;
  height: 40px;
}

.sliderOutput:hover, .sliderOutput:focus {
  border: 2px solid rgba(15,123,200, .8);
}

/* FIXED BOTTOM BAR */
.fixed {
  position: fixed;
  height: 142px;
  bottom:0px;
  width:100%;
  z-index: 100;
  border-top: none;
  background-color: #0F7BC8;
  opacity: 0.97;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
}


/* CONTACT BUTTON */
.contactButton {
  transition: all .2s ease-out;
  background-color: #fff;
  color: #0F7BC8;
  border: 1px solid #2b7fb3;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 16px;
  width: 50%;
}

.contactButton:hover {
  background: #2b7fb3;
  color: #fff;
}

/* OUPUT OPGESLAGEN */
.fixedBox {
  width: 100%;
  margin: 0 auto;
  font-size: 32px;
  border: none;
  background: transparent;
  cursor: default;
  color: #fff;
}

.fixedOutputInput {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
  background: transparent;
  cursor: default;
  color: #fff;
}

#percentage {

}

/* SAVE BUTTON */
.saveButton {
  transition: all .2s ease-in-out;
  background-color: #fff;
  color: #2b7fb3;
  border: 1px solid #2b7fb3;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 16px;
  width: 80%;
}
.saveButton:hover {
  background: #2b7fb3;
  color: #fff;
}


/* TEXT UNDER SLIDERS */
.bottomPart {
  text-align: center;
}

/* DISABLE ARROWS ON INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media all and (max-width: 800px) {
  .introText { width: 80%; }
  .sliderBox { width: 100%; }
  .fixedBox { font-size: 16px; }
  .fixedOutputInput { font-size: 16px;}
  .fixed { height: 100px; }
  body { padding-bottom: 120px;}
}
