<!DOCTYPE html>
<html lang="en-150">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name=”description” content="Gebruik deze tool om je omzet te berekenen doormiddel van conversie.
    Pas onderin de waarde aan, sla de waarde op en kijk vervolgens wat de impact is als de waarde veranderen?">
    <title>Conversion rate tool</title>

    <!--SCRIPTS -->
    <script src = "js/vue-input-autowidth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>

     <script
       src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
       integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
       crossorigin="anonymous"></script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src = "js/script.js"></script>

    <!-- CSS -->
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.min.css" rel= "stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>
    <div id="app" @mouseup="mouseUp">
      <img src="images/headerimg.jpg" class="headerImage" alt="Header Image"/>
      <h1 class="pageTitle">CONVERSION RATE CALCULATOR</h1>
      <div class="introText">
        {{ introText }}
      </div>

      <form>
        <div class="sliderBox">
          <label class="sliderLabel" for="bezoekers">Aantal bezoekers per maand</label>

          <input id="bezoekers" class="sliderOutput"
              pattern="[0-9]*" inputmode="decimal"
              v-model.number="bezoekers"
             v-autowidth="{maxWidth: '160px', minWidth: '64px', comfortZone: 16}">

          <div class="innerSliderBox">
            <div id="bezoekersSlider" class="sliders"></div>
          </div>
          <div class="labelsSlider">
            <label class="minLabel">0</label>
            <label class="maxLabel">1.000.000</label>
          </div>

          <div class="buttons">
            <minsvg class="plusMin"
            @mousedown.native="mouseDownDecrement('bezoekers', 500)"></minsvg>

            <plussvg class="plusMin"
            @mousedown.native="mouseDownIncrement('bezoekers', 500)"></plussvg>
          </div>
        </div>


        <div class="sliderBox">
          <label class="sliderLabel" for="conversie">Conversie Percentage</label>

          <input id="conversie" class="sliderOutput"
          pattern="[0-9]*" inputmode="decimal" step="0.01"
              v-model.number="conversie"
              v-autowidth="{maxWidth: '120px', minWidth: '40px', comfortZone: 16}">
              <label class="teken procentTeken">%</label>

          <div class="innerSliderBox">
            <div id="conversieSlider" class="sliders"></div>
          </div>

          <div class="labelsSlider">
            <label class="minLabel">0%</label>
            <label class="maxLabel">50%</label>
          </div>

          <div class="buttons">
            <minsvg class="plusMin"
            @mousedown.native="mouseDownDecrement('conversie', 1)"></minsvg>

            <plussvg class="plusMin"
            @mousedown.native="mouseDownIncrement('conversie', 1)"></plussvg>
          </div>
        </div>

        <div class="sliderBox">
          <label class="sliderLabel" for="orderwaarde">Gemiddelde orderwaarde (GOW)</label>

          <input id="orderwaarde" class="sliderOutput"
                pattern="[0-9]*" inputmode="decimal" step="0.1"
               v-model.number="orderwaarde"
               v-autowidth="{maxWidth: '120px', minWidth: '40px', comfortZone: 16}">

          <div class="innerSliderBox">
            <div id="orderwaardeSlider" class="sliders"></div>
          </div>

          <div class="labelsSlider">
            <label class="minLabel">€0</label>
            <label class="maxLabel">€500</label>
          </div>

          <div class="buttons">
            <minsvg class="plusMin"
            @mousedown.native="mouseDownDecrement('orderwaarde', 1)"></minsvg>

            <plussvg class="plusMin"
            @mousedown.native="mouseDownIncrement('orderwaarde', 1)"></plussvg>

          </div>
        </div>
      </form>

        <!-- BOTTOM TEXT PART -->
        <div class="bottomPart">
          <p>
            {{endText}}
          </p>

       <!-- CONTACT BUTTON -->
       <a href="https://www.wundermancommerce.com" target="_blank">
         <button class="contactButton">
           Contact
         </button>
       </a>
        </div>

       <div class="fixed">
           <div class="fixedBox">
             <label class="bottomLabel">Opgeslagen:</label>
             <input class="fixedOutputInput" v-model="berekendeOmzetFormat" readonly>
           </div>

         <!-- SAVED OMZET & COMPARE BUTTON -->
         <div class="fixedBox">
             <label class="bottomLabel">Huidig:</label>
             <input class="fixedOutputInput" v-model="omzet" readonly>

           <button class="saveButton" @click="save">Save</button>
         </div>


         <div class="fixedBox">
           <label class="bottomLabel">Verschil:</label>
           <input id="percentage" class="fixedOutputInput" v-model="verschil" readonly>
         </div>

         </div><!-- SLIDECONTAINER END -->
  </body>
</html>
